.app-header {

  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 256px;
  }

  //Para botões dessa classe que não estão desabilitados, manter com a borda branca
  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
}


//borda no ultimo botão
.mdc-button:last-child {
  border: 1px groove white;
}

}

